body {background-color:#E0E0D1;}
.topnav{
	background-color:#2196F3;
	padding-top:20px;
	padding-bottom:30px;
     border-bottom:4px solid #2196F3;
	 display:block;
	
}
.l1 {
  margin: 0 0 0 57px;
}
li{
	display:inline;
	font-size:20px;
	margin-left:10px;
	margin-right:5px;
	padding-left:5px;
	padding-right:5px;
}
a {
  color: white;
  font-size: 23px;
  margin: 0;
  padding: 20px;
  text-decoration: none;
}
a:hover{
	color:red;
}
p {
  float: left;
  font-family: georgia;
  font-size: 15px;
  margin: 174px 0 0 -260px;
  text-align: justify;
  width: 520px;
  font-size:20px;
}

img {
  margin: 40px 0 0 130px;
  border:  2px solid #2196F3;
  border-radius: 5px;
  float:left;
}
h1 {
  color: #2196F3;
  float: left;
  margin: 53px 0 0 31px;
}
h4 {
  color: #2196f3;
  float: left;
  margin: 109px 0 0 -257px;
}
footer {
	float: left;
	height: 57px;
	width: 100%;
	background-color: #2196F3;
	margin: 142px 0 0 0;
	line-height: 57px;
}